/* Index Styling */

.btn{
    width: 100%;
    margin-bottom: 5px;
}

/* Challenge HTML Styling */
#codeArea{
    resize: none;
    width: 100%;
    height: 200px;
}
button{
    width: 100%;
    height: 80px;
}

#tryButton{
    background-color: green;
}

#speedButton{
    background-color: red;
}

.split{
    border-top: solid black 3px;
    margin: 10px 0;
}
.pBox{
    background-color: lightgrey;
    border: solid black 1px;
    width: 100%;
}
.pBox p{
    margin: 0px;
}
.incorrect{
    background-color: red;
}

.medal{
    width: 20px;
    height: 20px;
}
.no-medal{
    background-color: white;
}

.bronze{
    background-color: brown;
}
.silver{
    background-color: silver;
}
.gold{
    background-attachment: gold;
}