/* Index Styling */

.btn{
    width: 100%;
    margin-bottom: 5px;
}

/* Challenge HTML Styling */
#codeArea{
    resize: none;
    width: 100%;
    height: 200px;
}
button{
    width: 100%;
    height: 80px;
}

#tryButton{
    background-color: green;
}

#speedButton{
    background-color: red;
}

.split{
    border-top: solid black 3px;
    margin: 10px 0;
}
.pBox{
    background-color: lightgrey;
    border: solid black 1px;
    width: 100%;
}
.pBox p{
    margin: 0px;
}
.incorrect{
    background-color: red;
}

.medal{
    width: 20px;
    height: 20px;
    display: inline;
    float: right;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.no-medal{
    background: url("images/no-medal.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bronze{
    background: url("images/bronze.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.silver{
    background: url("images/silver.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.gold{
    background: url("images/gold.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.diamond{
    background: url("images/diamond.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.matrix{
    color: green;
}
#code-row{
    background-color: black;
}

.pad-tb-20{
    padding: 20px 5px;
}